version: '2'
services:
  server:
    image: ireinhart/teamcity:server-latest
    build: ./server/
    volumes:
      - /var/lib/teamcity:/var/lib/teamcity
    ports:
      - "8111:8111"
  agent-docker:
    image: ireinhart/teamcity:agent-dj-latest
    build: ./agent/docker-jet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
      - /lib/x86_64-linux-gnu/libdevmapper.so.1.02.1:/lib/x86_64-linux-gnu/libdevmapper.so.1.02.1
    environment:
      - TEAMCITY_SERVER=http://server:8111
    links:
      - server:server
